### regualar expression

In [2]:
import re

### Regular expression function
1. group
2. span
3. match
4. search
5. find all
6. sub
7. split
8. compile

### match

In [3]:
string = "Python java c++ sql"
pattern = 'Python'

In [4]:
match = re.match(pattern,string)
match

### group

In [5]:
match.group(0)

'Python'

### span

In [6]:
match.span()

(0, 6)

In [16]:
string = "C,Python java c++ sql"
pattern = 'c'
match = re.match(pattern,string,re.IGNORECASE)
match.group(0)

'C'

### search

In [92]:
string = "Python java c sql"
pattern = 'c'
search= re.search(pattern,string,re.IGNORECASE)
search.group(0)

'c'

In [13]:
string = "Python java c++ sql python "
pattern = 'Python'
search = re.search(pattern,string,re.IGNORECASE)
search.group(0)

'Python'

### Find all

In [14]:
string = "Python java c++ sql Python "
pattern ='Python'
findall = re.findall(pattern,string)
findall

['Python', 'Python']

### sub

In [15]:
string ="java is easy learn languages"
pattern ="python"
sub=re.sub("java",pattern,string)
sub

'python is easy learn languages'

### split

In [17]:
string ="java is easy learn languages"
split = re.split("\s", string)
split

['java', 'is', 'easy', 'learn', 'languages']

### split with index

In [18]:
string ="java is easy learn languages"
split = re.split("\s", string,2)
split

['java', 'is', 'easy learn languages']

### compile

In [19]:
string = "name and regno:venkateshwaran-105"
compile = re.compile(r'[0-9][0-9][0-9]')
compile_result=compile.search(string)
compile_result.group()

'105'

### special sequence

In [20]:
a= "venkateshwaran-105"
v = re.findall("\d",a)
v

['1', '0', '5']

In [21]:
b= "venkateshwaran-105"
v = re.findall("\D",b)
v

['v', 'e', 'n', 'k', 'a', 't', 'e', 's', 'h', 'w', 'a', 'r', 'a', 'n', '-']

In [22]:
c="venkatesh waran k"
v = re.findall("\S", c)
v

['v', 'e', 'n', 'k', 'a', 't', 'e', 's', 'h', 'w', 'a', 'r', 'a', 'n', 'k']

In [23]:
d= "venkateshwaran - 105"
v = re.findall("\w", d)
v

['v',
 'e',
 'n',
 'k',
 'a',
 't',
 'e',
 's',
 'h',
 'w',
 'a',
 'r',
 'a',
 'n',
 '1',
 '0',
 '5']

In [24]:
e="venkatesh waran k"
v=re.findall("k\Z", e)
v

['k']

In [25]:
f="venkatesh waran k"
v=re.findall("\Avenkatesh", f)
v

['venkatesh']

### meta character

In [26]:
a="venkatesh waran k"
v = re.findall("v.......h", a)
v

['venkatesh']

In [27]:
a="venkatesh waran k venky vicky"
v= re.findall("ve*", a)
v

['ve', 've', 'v']

In [28]:
a="venkatesh waran k venky vicky"
v= re.findall("venkatesh | venky", a)
v

['venkatesh ', ' venky']

In [29]:
f="venkatesh waran k"
v=re.findall("^venkatesh", f)
v

['venkatesh']

In [30]:
e="venkatesh waran k"
v=re.findall("k$", e)
v

['k']

### set

In [31]:
a="venkateshwaran +++ 16104105 "
pattern = re.compile('[a-zA-Z0-9.]+')
res=re.findall(pattern,a)
res="".join(res)
res

'venkateshwaran16104105'

In [111]:
a="venkateshwaran 16104105 "
pattern = re.compile('[^0-9 ]')
res=re.findall(pattern,a)
res="".join(res)
res

'venkateshwaran'